table {
  margin: 1%;
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid;
}

.plan-table td {
  width: 50px;
  height: 50px;
  text-align: center;
}

.gen-score-table td, .gen-score-table th {
  width: 150px;
}

div.plan-container {
  /* take max space */
  flex-grow: 1;
}

div.tools-container {
  border: 1px solid black;
  width: 33%;
  margin: 5px;
  padding: 5px;
}

p.error {
  color: darkred;
}

button#generate-btn {
  font-size: 20px;
  margin-left: 1rem;
}